.main {
    border: 1px solid black;
    width: auto;
    height: 400px;
    background-color: beige;
}

.box {
    height: 45px;
    width: 45px;
    position: relative;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: 15;
    animation-delay: .5s;
}

@keyframes example {
    0% {
        background-color: red;
        top: 80%;
        left: 20%;
    }
    25% {
        background-color: green;
        border-radius: 50px;
        transform: rotate(360deg);
        top: 20%;
        left: 40%;
    }
    50% {
        background-color: blue;
        border-radius: 0px;
        transform: rotate(720deg);
        top: 80%;
        left: 60%;
    }
    100% {
        background-color: orange;
        transform: rotate(1440deg);
        top: 80%;
        left: 20%;
    }
}